@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  font-size: 12px;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  /* Custom Sizes & Spacing */
  --spacing-login-card: 28rem;
  --spacing-login-input-h: 3rem;
  --spacing-login-gap: 1.25rem;
  --radius-login-radius: 1rem;
}

:root {
  /* Light Mode Base Colors */
  --primary: #ea580c; /* Orange 600 */
  --secondary: #16a34a; /* Green 600 */
}

.dark {
  /* Dark Mode Base Colors */
  --primary: #fb923c; /* Orange 400 */
  --secondary: #4ade80; /* Green 400 */
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-800);
  transition-property: color, background-color;
  transition-duration: 300ms;
}

.dark body {
  background-color: var(--color-slate-950);
  color: var(--color-slate-200);
}
